<a href="https://colab.research.google.com/github/steve15963/PythonStudy/blob/main/study.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
print(123)

print("테스트1번", "1번과 연결되는 문자는 공백입니다.")

print("테스트2번" , "1번과 연결되는 문자는 sep에 따라서 -로 변경되었습니다. ", sep='-')

print("테스트3번", end='-')
print("끝나는 줄 개행을 -으로 변경하여 하나의 줄에 출력이 됩니다.")

123
테스트1번 1번과 연결되는 문자는 공백입니다.
테스트2번-1번과 연결되는 문자는 sep에 따라서 -로 변경되었습니다.
테스트3번-끝나는 줄 개행을 -으로 변경하여 하나의 줄에 출력이 됩니다.

In [5]:
a = input("입력 : ")
print(a)

입력 : 테스트
테스트

In [12]:
#연산
x = 10
y = 3

print(x + y)

print(x - y)

print(x * y)

#실수 나누기
print(x / y)

#정수 나누기
print(x // y)

print(x % y)

13
7
30
3.3333333333333335
3
1

In [13]:
x = -10

print(-x)
print(+x)

print( abs (x) )

10
-10

In [17]:
inData = input("입력 : ")

integer = int(inData)

x = 10


print(x + integer)
#에러 발생
print(x + inData)

입력 : 5
15

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [21]:
x = 10
y= 3

a,b = divmod(10,3)

#몫
print(a)
#나머지
print(b)

3
1

In [23]:
# 제곱
x = 10
y = 3
z = pow(x,y)
print(z)

z = x ** y
print(z)

1000
1000

In [1]:
one = int(input("입력 : "))
two = int(input("입력 : "))

print("합 : " , one + two)
print("차 : " , one - two)
print("곱 : " , one * two)
print("목 : " , one % two)

In [109]:
one = int(input())
two = int(input())

print(f"{one/two:.2f}")

10
3
3.33

In [30]:
a = '"안녕하세요"'

print(a)

#"을 출력하고 싶다면 '으로 감싸거나
a = "안녕하세요"
print(a)

# """으로 감싼다.
a= """
테스"트"입니다.
"""
print(a)

"안녕하세요"
안녕하세요

테스"트"입니다.

In [35]:
a = "abcdefg"

for char in a:
  print(char,end='')

# a가 아닌 이유 인덱스는 0부터임.
print(a[1],end='\n')

abcdefgb

In [42]:
a = 'abcdefg'

#전체
print(a[:])

print(a[1:3])

print(a[3:])

print(a[:5])

#2칸씩
print(a[1:4:2])

abcdefg
bc
defg
abcde
bd

In [43]:
print("ABC" + "DEF")

ABCDEF

In [47]:
str = "가나다라마바사"

str2 = str[3:6]

print(str)

print(str2)

가나다라마바사
라마바

In [59]:
s = "hello world"

newS = s.capitalize()

print(s)
#첫 문자 대문자화
print(newS)

sCount = s.count('l')
#문자 카운트
print(sCount)

sCount = s.count('hello')
#문자열 카운트
print(sCount)

#특정 문자열로 시작하는지
print("특정 문자열로 시작하는지")
print( s.startswith('h') )
print( s.startswith("hello") )



#특정 문자열 끝나는지
print("특정 문자열로 끝나는")
print( s.endswith('d') )
print( s.endswith("world"))

#대소문자도 구별하는지.
print("대소문자도 구별하는지")
print( s.startswith('hello') )
print( s.startswith('Hello') )
print( s.endswith("world"))
print( s.endswith("World"))


#문자열 찾기
print( s.find("e") )
print( s.find("wor") )
print( s.index("e") )
#에러 발생
#print( s.index("z") )
#find는 -1 반환 , index는 에러 발생.

hello world
Hello world
3
1
특정 문자열로 시작하는지
True
True
특정 문자열로 끝나는
True
True
대소문자도 구별하는지
True
False
True
False
1
6
1

In [61]:
slower = s.lower();

print(slower);

ulower = s.upper();

print(ulower);

hello world
HELLO WORLD

In [62]:
copys = s.replace('world',"replace")

print(copys)

hello replace

In [70]:
splitS = s.split()

print(splitS)

splitS2 = s.split('o')

print(splitS2)

splitS3 = s.split("ll")

print(splitS3)

['hello', 'world']
['hell', ' w', 'rld']
['he', 'o world']

In [77]:
one, two ,three = map(int,input("입력").split())

print(one + two + three)

입력1 2 3
6

In [112]:
print("내 이름은 %s입니다. 나이는 %d입니다. 키는 %f입니다."%("점점점", 1, 123.123))

print("내 이름은 {2}입니다. 나이는 {0}입니다. 키는 {1}입니다.".format("점점점",20,123.123))

print("내 이름은 {name}입니다. 나이는 {age}입니다. 키는 {heigth}입니다.".format(name="점점점",age=20,heigth=123.123))

name = "점점점"
age = 10

print( f"{name}의 나이는 {age}살 입니다." )


print("==%s=="%"hello")
print("==%10s=="%"hello")
print("==%-10s=="%"hello")

print("=={:10}==".format("hello"))
print("=={:>10}==".format("hello"))
print("=={:<10}==".format("hello"))
print("=={:^10}==".format("hello"))
print( f"=={name:10}==의 나이는 {age}살 입니다." )
print( f"=={name:>10}==의 나이는 {age}살 입니다." )

print("%.f"%(10/3))
print("%.2f"%(10/3))

print( "=={:.4f}==".format(10/3) )

print( "{:,}".format(999999) )

내 이름은 점점점입니다. 나이는 1입니다. 키는 123.123000입니다.
내 이름은 123.123입니다. 나이는 점점점입니다. 키는 20입니다.
내 이름은 점점점입니다. 나이는 20입니다. 키는 123.123입니다.
점점점의 나이는 10살 입니다.
==hello==
==     hello==
==hello     ==
==hello     ==
==     hello==
==hello     ==
==  hello   ==
==점점점       ==의 나이는 10살 입니다.
==       점점점==의 나이는 10살 입니다.
3
3.33
==3.3333==
999,999

In [117]:
num = int(input())

print(num//10000%10,"TTHO",end=" ",sep='')
print(num//1000%10,"THO",end=" ",sep='')
print(num//100%10,"HUN",end=" ",sep='')
print(num//10%10,"TEN",end=" ",sep='')
print(num%10)

01234
0TTHO 1THO 2HUN 3TEN 4

In [120]:
num = int(input("입력 : "))

two = num % 2 == 0
three = num % 3 == 0
five = num % 5 == 0

if two and three and five:
  print("A")
elif two and three:
  print("B")
elif three and five:
  print("C")
elif two and five:
  print("D")
elif two or three or five:
  print("E")
else:
  print("F")

입력 : 1
F

In [128]:
for i in range(5):
  print(i)
print("===========")
for i in range(1,3):
  print(i)
print("===========")
for i in range(0,10,2):
  print(i)
print("===========")
inputlist = map(int, input("입력").split())

for i in inputlist:
  print(i)

0
1
2
3
4
===========
1
2
===========
0
2
4
6
8
===========
입력123
123

In [137]:
a = [1,2,3,4,5]
print(a)

b = [6,7,8,9,0]

print(a+b)

c = a * 3

print(c)

al = len(a)
print(al)

b[4] = 10

li = [1,2,3,4,5]

del li[1]

print(li)

print(1 in [1,2,3])

print( 10 in li )

[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 0]
[1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5]
5
[1, 3, 4, 5]
True
False

In [154]:
li = [1,2,3]
li.append(4)

print(li)

#요소로 리스트가
li = [ 1, 2, 3 ]
li.append([4,5,6])
print(li)

#리스트에 요소를 넣는다.
li = [ 1, 2, 3 ]
li.extend([4,5,6])
print(li)

#특정 인덱스에 요소를 넣는다.
li = [ 1, 2, 3 ]
li.insert(2,10)
print(li)

#리스트에서 일치하는 요소의 수를 카운트
li = [ 1, 2, 3,1,2,3,4,1,23,4,56,1,2]
print(li.count(1))

#리스트에서 특정값에 해당하는 요소를 찾지만 찾지 못하면 에러가 터진다.
#앞에서 부터 탐색
li = [ 1, 2, 3, 2, 1]
print(li.index(1))

#정렬
li = [ 2, 1, 3 ]
li.sort()
print(li)
li.sort(reverse=True)
print(li)

#뒤집기
li = [ 3, 2 ,1]
li.reverse()
print(li)

#삭제 단 중복 요소가 여러개라도 첫번재 요소만(왼쪽부터 오른족으로)
li = [ 3, 2 ,1, 3]
li.remove(3)
print(li)

#스택 POP
li = [1,1,2,3,3]
popData = li.pop()
print(li,popData)


#최대값, 최소값, 합계
li = [1,2,3,4,5,6,7,8,9,1111,1235]
print(max(li), min(li), sum(li))

# range(10)은 객체
# list(range(10))는 리스트
print(range(10))
print(list(range(10)))

[1, 2, 3, 4]
[1, 2, 3, [4, 5, 6]]
[1, 2, 3, 4, 5, 6]
[1, 2, 10, 3]
4
0
[1, 2, 3]
[3, 2, 1]
[1, 2, 3]
[2, 1, 3]
[1, 1, 2, 3] 3
1235 1 2391
range(0, 10)

In [158]:
#튜플
t = ()
t = (1,)
t2 = (1, 2, 3)
#튜플은 소괄호 생략가능
t = 1, 2, 3, 4
#튜플은 변경 불가
#t[0] = 2
print(len(t))

print(t.count(1))

print(t * 3)

print(t + t2)

print(min(t), max(t), sum(t))

print(t[2:3])

4
1
(1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4)
(1, 2, 3, 4, 1, 2, 3)
1 4 10
(3,)

In [172]:
#집합.
s = {1,2,3}
print(s)

#중복 불가
s = {1,2,3,1,2,3}
print(s)

s = set("hello")
print(s)


s1 = set([1,2,3,4,5])
s2 = set([3,4,5])

#교집합
print(s1 & s2)

#합집합
print(s1 | s2)

#차집합
print(s1 - s2)

#부분집합 -> s2의 모든 요소가 s1에 있는가?
print(s1 >= s2)
print(s1.issuperset(s2))
#부분집합 -> s1의 모든 요소가 s2에 있는가?
print(s1 <= s2)
print(s2.issuperset(s1))

#공집합 -> s1과 s2가 겹치는 것이 없는가?
print(s1.isdisjoint(s2))

s1 = set([1,2,3])
s1.add(4)
print(s1)

s1 = set([1,2,3])
s1.update([4,5,6])
print(s1)

s1 = set([1,2,3])
#1이라느 요소 삭제
s1.remove(1)
#없는거 삭제시 에러 발생
#s1.remove(4)
print(s1)

s1 = set([1,2,3])
#1요소 삭제
s1.discard(1)
#4라는 없는 요소 삭제시 에러가 발생하지 않음.
s1.discard(4)
print(s1)

s1 = set([1,2,3])
num = s1.pop()
print(s1)
print(num)



s1 = set([1,2,3])
print(min(s1), max(s1), sum(s1))

{1, 2, 3}
{1, 2, 3}
{'e', 'h', 'o', 'l'}
{3, 4, 5}
{1, 2, 3, 4, 5}
{1, 2}
True
True
False
False
False
{1, 2, 3, 4}
{1, 2, 3, 4, 5, 6}
{2, 3}
{2, 3}
{2, 3}
1
1 3 6

In [180]:
dic = {
    "name" : "철수",
    "몸무게" : 123,
    "키" : 123.123
}
print(dic['name'])
print(dic.get('키'))

#추가
dic['나이'] = 20
print(dic)

del dic['name']
print(dic)

#모든 키 출력
print(dic.keys())

#모든 값 출력
print(dic.values())

#모든 사전 요소를 튜플 리스트로 반환
print(dic.items())

#모든 요소 삭제
dic.clear()
print(dic)

dic = {
    "name" : "철수",
    "몸무게" : 123,
    "키" : 123.123
}

#모든 요소의 수
print(len(dic))

#사전 복사
#얕은 복사
dic2 = dic
#깊은 복사
dic2 = dict(dic)
dic2 = dic.copy()

dic = { 1 : "철수", 2 : "철희", 3 : "민희"}
#키값에 대한 연산
print( min(dic), max(dic), sum(dic) )

철수
123.123
{'name': '철수', '몸무게': 123, '키': 123.123, '나이': 20}
{'몸무게': 123, '키': 123.123, '나이': 20}
dict_keys(['몸무게', '키', '나이'])
dict_values([123, 123.123, 20])
dict_items([('몸무게', 123), ('키', 123.123), ('나이', 20)])
{}
3
1 3 6

In [181]:
def ArgsSum(*args):
  s = 0
  for i in args:
    s += i
  return s

total = ArgsSum(1,2,3,4,5)
print(total)

15

In [199]:
#덮어 씌우기
fp = open('file.txt', 'w')
fp.write("hello \n");
fp.write('world \n');
fp.close()

In [201]:
#이어 쓰기
fp = open('file.txt', 'a')
fp.write("hello \n");
fp.close()

In [202]:
#한줄씩 쓰기
fp = open('file.txt', 'r')

while True:
  line = fp.readline()
  if not line:
    break
  print(line)
fp.close()

hello

world

hello

In [203]:
#한번에 모두 읽기
fp = open('file.txt', 'r')
lines = fp.readlines()
print(lines)
fp.close()

fp = open('file.txt', 'r')
lines = fp.read()
print(lines)
fp.close()

['hello \n', 'world \n', 'hello \n']
hello
world
hello

In [204]:
with open('file.txt','a') as f:
  f.write("with is god!!")
#파일 확인하기