<a href="https://colab.research.google.com/github/steve15963/PythonStudy/blob/main/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
print(123)

print("테스트1번", "1번과 연결되는 문자는 공백입니다.")

print("테스트2번" , "1번과 연결되는 문자는 sep에 따라서 -로 변경되었습니다. ", sep='-')

print("테스트3번", end='-')
print("끝나는 줄 개행을 -으로 변경하여 하나의 줄에 출력이 됩니다.")

123
테스트1번 1번과 연결되는 문자는 공백입니다.
테스트2번-1번과 연결되는 문자는 sep에 따라서 -로 변경되었습니다.
테스트3번-끝나는 줄 개행을 -으로 변경하여 하나의 줄에 출력이 됩니다.

In [5]:
a = input("입력 : ")
print(a)

입력 : 테스트
테스트

In [12]:
#연산
x = 10
y = 3

print(x + y)

print(x - y)

print(x * y)

#실수 나누기
print(x / y)

#정수 나누기
print(x // y)

print(x % y)

13
7
30
3.3333333333333335
3
1

In [13]:
x = -10

print(-x)
print(+x)

print( abs (x) )

10
-10

In [17]:
inData = input("입력 : ")

integer = int(inData)

x = 10


print(x + integer)
#에러 발생
print(x + inData)

입력 : 5
15

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [21]:
x = 10
y= 3

a,b = divmod(10,3)

#몫
print(a)
#나머지
print(b)

3
1

In [23]:
# 제곱
x = 10
y = 3
z = pow(x,y)
print(z)

z = x ** y
print(z)

1000
1000

In [28]:
one = int(input("입력 : "))
two = int(input("입력 : "))

print("합 : " , one + two)
print("차 : " , one - two)
print("곱 : " , one * two)
print("목 : " , one % two)

입력 : 10
입력 : 2
합 :  12
차 :  8
곱 :  20
목 :  0

In [109]:
one = int(input())
two = int(input())

print(f"{one/two:.2f}")

10
3
3.33

In [1]:
a = '"안녕하세요"'

print(a)

#"을 출력하고 싶다면 '으로 감싸거나
a = "안녕하세요"
print(a)

# """으로 감싼다.
a= """
테스"트"입니다.
"""
print(a)

"안녕하세요"
안녕하세요

테스"트"입니다.

In [35]:
a = "abcdefg"

for char in a:
  print(char,end='')

# a가 아닌 이유 인덱스는 0부터임.
print(a[1],end='\n')

abcdefgb

In [42]:
a = 'abcdefg'

#전체
print(a[:])

print(a[1:3])

print(a[3:])

print(a[:5])

#2칸씩
print(a[1:4:2])

abcdefg
bc
defg
abcde
bd

In [43]:
print("ABC" + "DEF")

ABCDEF

In [47]:
str = "가나다라마바사"

str2 = str[3:6]

print(str)

print(str2)

가나다라마바사
라마바

In [59]:
s = "hello world"

newS = s.capitalize()

print(s)
#첫 문자 대문자화
print(newS)

sCount = s.count('l')
#문자 카운트
print(sCount)

sCount = s.count('hello')
#문자열 카운트
print(sCount)

#특정 문자열로 시작하는지
print("특정 문자열로 시작하는지")
print( s.startswith('h') )
print( s.startswith("hello") )



#특정 문자열 끝나는지
print("특정 문자열로 끝나는")
print( s.endswith('d') )
print( s.endswith("world"))

#대소문자도 구별하는지.
print("대소문자도 구별하는지")
print( s.startswith('hello') )
print( s.startswith('Hello') )
print( s.endswith("world"))
print( s.endswith("World"))


#문자열 찾기
print( s.find("e") )
print( s.find("wor") )
print( s.index("e") )
#에러 발생
#print( s.index("z") )
#find는 -1 반환 , index는 에러 발생.

hello world
Hello world
3
1
특정 문자열로 시작하는지
True
True
특정 문자열로 끝나는
True
True
대소문자도 구별하는지
True
False
True
False
1
6
1

In [61]:
slower = s.lower();

print(slower);

ulower = s.upper();

print(ulower);

hello world
HELLO WORLD

In [62]:
copys = s.replace('world',"replace")

print(copys)

hello replace

In [70]:
splitS = s.split()

print(splitS)

splitS2 = s.split('o')

print(splitS2)

splitS3 = s.split("ll")

print(splitS3)

['hello', 'world']
['hell', ' w', 'rld']
['he', 'o world']

In [77]:
one, two ,three = map(int,input("입력").split())

print(one + two + three)

입력1 2 3
6

In [112]:
print("내 이름은 %s입니다. 나이는 %d입니다. 키는 %f입니다."%("점점점", 1, 123.123))

print("내 이름은 {2}입니다. 나이는 {0}입니다. 키는 {1}입니다.".format("점점점",20,123.123))

print("내 이름은 {name}입니다. 나이는 {age}입니다. 키는 {heigth}입니다.".format(name="점점점",age=20,heigth=123.123))

name = "점점점"
age = 10

print( f"{name}의 나이는 {age}살 입니다." )


print("==%s=="%"hello")
print("==%10s=="%"hello")
print("==%-10s=="%"hello")

print("=={:10}==".format("hello"))
print("=={:>10}==".format("hello"))
print("=={:<10}==".format("hello"))
print("=={:^10}==".format("hello"))
print( f"=={name:10}==의 나이는 {age}살 입니다." )
print( f"=={name:>10}==의 나이는 {age}살 입니다." )

print("%.f"%(10/3))
print("%.2f"%(10/3))

print( "=={:.4f}==".format(10/3) )

print( "{:,}".format(999999) )

내 이름은 점점점입니다. 나이는 1입니다. 키는 123.123000입니다.
내 이름은 123.123입니다. 나이는 점점점입니다. 키는 20입니다.
내 이름은 점점점입니다. 나이는 20입니다. 키는 123.123입니다.
점점점의 나이는 10살 입니다.
==hello==
==     hello==
==hello     ==
==hello     ==
==     hello==
==hello     ==
==  hello   ==
==점점점       ==의 나이는 10살 입니다.
==       점점점==의 나이는 10살 입니다.
3
3.33
==3.3333==
999,999

In [117]:
num = int(input())

print(num//10000%10,"TTHO",end=" ",sep='')
print(num//1000%10,"THO",end=" ",sep='')
print(num//100%10,"HUN",end=" ",sep='')
print(num//10%10,"TEN",end=" ",sep='')
print(num%10)

01234
0TTHO 1THO 2HUN 3TEN 4

In [120]:
num = int(input("입력 : "))

two = num % 2 == 0
three = num % 3 == 0
five = num % 5 == 0

if two and three and five:
  print("A")
elif two and three:
  print("B")
elif three and five:
  print("C")
elif two and five:
  print("D")
elif two or three or five:
  print("E")
else:
  print("F")

입력 : 1
F

In [128]:
for i in range(5):
  print(i)
print("===========")
for i in range(1,3):
  print(i)
print("===========")
for i in range(0,10,2):
  print(i)
print("===========")
inputlist = map(int, input("입력").split())

for i in inputlist:
  print(i)

0
1
2
3
4
===========
1
2
===========
0
2
4
6
8
===========
입력123
123

In [137]:
a = [1,2,3,4,5]
print(a)

b = [6,7,8,9,0]

print(a+b)

c = a * 3

print(c)

al = len(a)
print(al)

b[4] = 10

li = [1,2,3,4,5]

del li[1]

print(li)

print(1 in [1,2,3])

print( 10 in li )

[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 0]
[1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5]
5
[1, 3, 4, 5]
True
False

In [154]:
li = [1,2,3]
li.append(4)

print(li)

#요소로 리스트가
li = [ 1, 2, 3 ]
li.append([4,5,6])
print(li)

#리스트에 요소를 넣는다.
li = [ 1, 2, 3 ]
li.extend([4,5,6])
print(li)

#특정 인덱스에 요소를 넣는다.
li = [ 1, 2, 3 ]
li.insert(2,10)
print(li)

#리스트에서 일치하는 요소의 수를 카운트
li = [ 1, 2, 3,1,2,3,4,1,23,4,56,1,2]
print(li.count(1))

#리스트에서 특정값에 해당하는 요소를 찾지만 찾지 못하면 에러가 터진다.
#앞에서 부터 탐색
li = [ 1, 2, 3, 2, 1]
print(li.index(1))

#정렬
li = [ 2, 1, 3 ]
li.sort()
print(li)
li.sort(reverse=True)
print(li)

#뒤집기
li = [ 3, 2 ,1]
li.reverse()
print(li)

#삭제 단 중복 요소가 여러개라도 첫번재 요소만(왼쪽부터 오른족으로)
li = [ 3, 2 ,1, 3]
li.remove(3)
print(li)

#스택 POP
li = [1,1,2,3,3]
popData = li.pop()
print(li,popData)


#최대값, 최소값, 합계
li = [1,2,3,4,5,6,7,8,9,1111,1235]
print(max(li), min(li), sum(li))

# range(10)은 객체
# list(range(10))는 리스트
print(range(10))
print(list(range(10)))

[1, 2, 3, 4]
[1, 2, 3, [4, 5, 6]]
[1, 2, 3, 4, 5, 6]
[1, 2, 10, 3]
4
0
[1, 2, 3]
[3, 2, 1]
[1, 2, 3]
[2, 1, 3]
[1, 1, 2, 3] 3
1235 1 2391
range(0, 10)

In [158]:
#튜플
t = ()
t = (1,)
t2 = (1, 2, 3)
#튜플은 소괄호 생략가능
t = 1, 2, 3, 4
#튜플은 변경 불가
#t[0] = 2
print(len(t))

print(t.count(1))

print(t * 3)

print(t + t2)

print(min(t), max(t), sum(t))

print(t[2:3])

4
1
(1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4)
(1, 2, 3, 4, 1, 2, 3)
1 4 10
(3,)

In [172]:
#집합.
s = {1,2,3}
print(s)

#중복 불가
s = {1,2,3,1,2,3}
print(s)

s = set("hello")
print(s)


s1 = set([1,2,3,4,5])
s2 = set([3,4,5])

#교집합
print(s1 & s2)

#합집합
print(s1 | s2)

#차집합
print(s1 - s2)

#부분집합 -> s2의 모든 요소가 s1에 있는가?
print(s1 >= s2)
print(s1.issuperset(s2))
#부분집합 -> s1의 모든 요소가 s2에 있는가?
print(s1 <= s2)
print(s2.issuperset(s1))

#공집합 -> s1과 s2가 겹치는 것이 없는가?
print(s1.isdisjoint(s2))

s1 = set([1,2,3])
s1.add(4)
print(s1)

s1 = set([1,2,3])
s1.update([4,5,6])
print(s1)

s1 = set([1,2,3])
#1이라느 요소 삭제
s1.remove(1)
#없는거 삭제시 에러 발생
#s1.remove(4)
print(s1)

s1 = set([1,2,3])
#1요소 삭제
s1.discard(1)
#4라는 없는 요소 삭제시 에러가 발생하지 않음.
s1.discard(4)
print(s1)

s1 = set([1,2,3])
num = s1.pop()
print(s1)
print(num)



s1 = set([1,2,3])
print(min(s1), max(s1), sum(s1))

{1, 2, 3}
{1, 2, 3}
{'e', 'h', 'o', 'l'}
{3, 4, 5}
{1, 2, 3, 4, 5}
{1, 2}
True
True
False
False
False
{1, 2, 3, 4}
{1, 2, 3, 4, 5, 6}
{2, 3}
{2, 3}
{2, 3}
1
1 3 6

In [180]:
dic = {
    "name" : "철수",
    "몸무게" : 123,
    "키" : 123.123
}
print(dic['name'])
print(dic.get('키'))

#추가
dic['나이'] = 20
print(dic)

del dic['name']
print(dic)

#모든 키 출력
print(dic.keys())

#모든 값 출력
print(dic.values())

#모든 사전 요소를 튜플 리스트로 반환
print(dic.items())

#모든 요소 삭제
dic.clear()
print(dic)

dic = {
    "name" : "철수",
    "몸무게" : 123,
    "키" : 123.123
}

#모든 요소의 수
print(len(dic))

#사전 복사
#얕은 복사
dic2 = dic
#깊은 복사
dic2 = dict(dic)
dic2 = dic.copy()

dic = { 1 : "철수", 2 : "철희", 3 : "민희"}
#키값에 대한 연산
print( min(dic), max(dic), sum(dic) )

철수
123.123
{'name': '철수', '몸무게': 123, '키': 123.123, '나이': 20}
{'몸무게': 123, '키': 123.123, '나이': 20}
dict_keys(['몸무게', '키', '나이'])
dict_values([123, 123.123, 20])
dict_items([('몸무게', 123), ('키', 123.123), ('나이', 20)])
{}
3
1 3 6

In [181]:
def ArgsSum(*args):
  s = 0
  for i in args:
    s += i
  return s

total = ArgsSum(1,2,3,4,5)
print(total)

15

In [199]:
#덮어 씌우기
fp = open('file.txt', 'w')
fp.write("hello \n");
fp.write('world \n');
fp.close()

In [201]:
#이어 쓰기
fp = open('file.txt', 'a')
fp.write("hello \n");
fp.close()

In [202]:
#한줄씩 쓰기
fp = open('file.txt', 'r')

while True:
  line = fp.readline()
  if not line:
    break
  print(line)
fp.close()

hello

world

hello

In [203]:
#한번에 모두 읽기
fp = open('file.txt', 'r')
lines = fp.readlines()
print(lines)
fp.close()

fp = open('file.txt', 'r')
lines = fp.read()
print(lines)
fp.close()

['hello \n', 'world \n', 'hello \n']
hello
world
hello

In [204]:
with open('file.txt','a') as f:
  f.write("with is god!!")
#파일 확인하기

In [7]:
#지능형 리스트
l1 = list(range(10))
print(l1)


l2 = [ i for i in range(10) ]
print(l2)

l3 = [ f'{i} x {j} = { i * j }' for i in range(2,10) for j in range(1,10) ]
print(l3)

l4 = [(1,10),(2,20),(3,30),(4,40)]

for i in l4:
  print(i)

print("===================")

for i,j in l4:
  print(i, j)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
['2 x 1 = 2', '2 x 2 = 4', '2 x 3 = 6', '2 x 4 = 8', '2 x 5 = 10', '2 x 6 = 12', '2 x 7 = 14', '2 x 8 = 16', '2 x 9 = 18', '3 x 1 = 3', '3 x 2 = 6', '3 x 3 = 9', '3 x 4 = 12', '3 x 5 = 15', '3 x 6 = 18', '3 x 7 = 21', '3 x 8 = 24', '3 x 9 = 27', '4 x 1 = 4', '4 x 2 = 8', '4 x 3 = 12', '4 x 4 = 16', '4 x 5 = 20', '4 x 6 = 24', '4 x 7 = 28', '4 x 8 = 32', '4 x 9 = 36', '5 x 1 = 5', '5 x 2 = 10', '5 x 3 = 15', '5 x 4 = 20', '5 x 5 = 25', '5 x 6 = 30', '5 x 7 = 35', '5 x 8 = 40', '5 x 9 = 45', '6 x 1 = 6', '6 x 2 = 12', '6 x 3 = 18', '6 x 4 = 24', '6 x 5 = 30', '6 x 6 = 36', '6 x 7 = 42', '6 x 8 = 48', '6 x 9 = 54', '7 x 1 = 7', '7 x 2 = 14', '7 x 3 = 21', '7 x 4 = 28', '7 x 5 = 35', '7 x 6 = 42', '7 x 7 = 49', '7 x 8 = 56', '7 x 9 = 63', '8 x 1 = 8', '8 x 2 = 16', '8 x 3 = 24', '8 x 4 = 32', '8 x 5 = 40', '8 x 6 = 48', '8 x 7 = 56', '8 x 8 = 64', '8 x 9 = 72', '9 x 1 = 9', '9 x 2 = 18', '9 x 3 = 27', '9 x 4 = 36', '9 x 5 = 45', '9 x 6 = 54', '9 x 7 = 63', '9 x 8 = 72', '9 x 9 = 81']
<generator object <genexpr> at 0x7be979733df0>

In [12]:
for i,j in enumerate(range(100,1000,1000), 1):
  print(i,j)
  # pass는 아무 작업도 하지 않는다.
  # 에러가 안나도록 할경우 사용한다.
  # 즉 다음에 작성할 예정인 경우 사용하면 좋다.
  pass

1 100

In [6]:
for i in range(3):
  print(i)
else:
  print("end job")

for i in range(3):
  print(i)
  if( i == 2 ):
   break;
else:
  # 정상종료가 아니므로 실행되지 않음.
  print("end job")

0
1
2
end job
0
1
2

In [16]:
class Car(object):
  maxSpeed = 300
  maxPeople = 5
  def start(self):
    print('출발')
  def stop(self):
    print('정지')
  def __str__(self):
    return '여기는 toString'
  def __init__(self):
    print("여기는 생성자")

class Hybrid(Car):
  battery = 1000
  batteryKM = 300

k9 = Car()
print(k9.start())
print(Car.maxSpeed)

출발
None
300

In [19]:
class DiyRange:
    def __init__(self, end_value,):
        self.start_value = 0
        self.end_value = end_value
        self.current_value = 0
        self.step = 1

    def __iter__(self):
        return self

    def __next__(self):
        if self.current_value < self.end_value:
            temp = self.current_value
            self.current_value += self.step
            return temp
        else:
            self.current_value = 0
            # 카운터가 최대값에 도달하면 StopAsyncIteration 예외를 발생시켜 이터레이션을 종료합니다.
            raise StopIteration


def DiyList(range):
    li = []
    itertor = iter(range)
    try:
        while True:
            li.append(next(itertor))
    except StopIteration:
        pass
    return li

print(DiyList(DiyRange(5)))

print(list(range(5)))

[0, 1, 2, 3, 4]
[0, 1, 2, 3, 4]

In [30]:
import numpy as np
data1 = [[1,2,3],[4,5,6],[7,8,9]]
data2 = [[1,2,3.0],[4,5,6],[7,8,9]]

a1 = np.array(data1)
a2 = np.array(data2)

print(a1)

# type 내장 함수로는 재대로 보이지 않음
print(type(a1))

# 타입 보기
print(a1.dtype)
print(a2.dtype)

#타입 변경하기
a2.astype(np.int32)

<class 'numpy.ndarray'>
[[1 2 3]
 [4 5 6]
 [7 8 9]]
int64
float64

In [36]:
# 1차원
print(np.arange(5))
print(np.arange(1,5))
print(np.arange(0,5,2))

[0 1 2 3 4]
[1 2 3 4]
[0 2 4]

In [42]:
# n차원

print(np.arange(1,10).reshape(3,3))

print("===============================")
# 요소의 수가 틀리면 에러 발생
#print(np.arange(1,10).reshape(3,4))
# print("===============================")
print(np.arange(1,13).reshape(3,2,2))
print("===============================")

[[1 2 3]
 [4 5 6]
 [7 8 9]]
===============================
[[[ 1  2]
  [ 3  4]]

 [[ 5  6]
  [ 7  8]]

 [[ 9 10]
  [11 12]]]
===============================

In [48]:
#행렬 연산
data = np.arange(1,10).reshape(3,3)
print(data)
print("===============================")

# 행렬 합
print(
    data + data
)
print("===============================")

# 행렬 차
print(
    data - data
)
print("===============================")

# 행렬 곱
print(
    data * data
)
## 재대로 나오지 않음.
print(
    np.dot(data, data)
)
# 또는
print(
    data@data
)
print("===============================")

# 행렬 나누기
print(
    data / data
)
print("===============================")

[[1 2 3]
 [4 5 6]
 [7 8 9]]
===============================
[[ 2  4  6]
 [ 8 10 12]
 [14 16 18]]
===============================
[[0 0 0]
 [0 0 0]
 [0 0 0]]
===============================
[[ 1  4  9]
 [16 25 36]
 [49 64 81]]
[[ 30  36  42]
 [ 66  81  96]
 [102 126 150]]
[[ 30  36  42]
 [ 66  81  96]
 [102 126 150]]
===============================
[[1. 1. 1.]
 [1. 1. 1.]
 [1. 1. 1.]]
===============================

In [55]:
#차원

#0차원
d0 = np.array(1)
print(d0)
print(d0.shape)
print(d0.ndim)
print("===============================")

#1차원
d1 = np.array([1,2,3,4,5])
print(d1)
print(d1.shape)
print(d1.ndim)
print("===============================")

#2차원
d2 = np.array([[1,2,3],[4,5,6]])
print(d2)
print(d2.shape)
print(d2.ndim)
print("===============================")

#3차원
d3 = np.array([[[1,2],[3,4],[5,6]],[[7,8],[9,10],[11,12]],[[13,14],[15,16],[17,18]]])
print(d3)
print(d3.shape)
print(d3.ndim)
print("===============================")

1
()
0
===============================
[1 2 3 4 5]
(5,)
1
===============================
[[1 2 3]
 [4 5 6]]
(2, 3)
2
===============================
[[[ 1  2]
  [ 3  4]
  [ 5  6]]

 [[ 7  8]
  [ 9 10]
  [11 12]]

 [[13 14]
  [15 16]
  [17 18]]]
(3, 3, 2)
3
===============================

In [58]:
a = np.arange(12)
print(a)
a = a.reshape(2,3,2)
print(a)

[ 0  1  2  3  4  5  6  7  8  9 10 11]
[[[ 0  1]
  [ 2  3]
  [ 4  5]]

 [[ 6  7]
  [ 8  9]
  [10 11]]]

In [63]:
b = np.ones(12)
print(b)
b = b.reshape(2,3,2)
print(b)

[1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1.]
[[[1. 1.]
  [1. 1.]
  [1. 1.]]

 [[1. 1.]
  [1. 1.]
  [1. 1.]]]

In [62]:
c = np.zeros(12)
print(c)
c = c.reshape(2,3,2)
print(c)

[0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0.]
[[[0. 0.]
  [0. 0.]
  [0. 0.]]

 [[0. 0.]
  [0. 0.]
  [0. 0.]]]

In [64]:
d = np.eye(3)
print(d)

[[1. 0. 0.]
 [0. 1. 0.]
 [0. 0. 1.]]

In [65]:
e = np.zeros([3,4])
print(e)

[[0. 0. 0. 0.]
 [0. 0. 0. 0.]
 [0. 0. 0. 0.]]

In [66]:
f = np.zeros([3,4,2])
print(e)

[[0. 0. 0. 0.]
 [0. 0. 0. 0.]
 [0. 0. 0. 0.]]

In [67]:
g = np.empty([2,3])
print(g)

[[4.9e-324 9.9e-324 1.5e-323]
 [2.0e-323 2.5e-323 3.0e-323]]

In [68]:
h = np.full((3,4),1000)
print(h)

[[1000 1000 1000 1000]
 [1000 1000 1000 1000]
 [1000 1000 1000 1000]]

In [70]:
# 2부터 10 사이에 6번을 동등한 간격으로 생성
i = np.linspace(2,10,6)
print(i)

[ 2.   3.6  5.2  6.8  8.4 10. ]

In [82]:
a = np.arange(10). reshape(2,5)
print(a)
print("===============================")

a[0][0] = 100
a[0,1] = 1000

print(a)

print("===============================")

#평균
print(np.mean(a))
print("===============================")
#중앙값
print(np.median(a))
print("===============================")
#표준 편차
print(np.std(a))
print("===============================")
#분산
print(np.var(a))
print("===============================")
#전체 합계
print(np.sum(a))
print("===============================")

#행 열 합계
#내장 함수 호출시 열 합계 출력
print(a.sum())
print(sum(a))
print("-------------------------------")
#열 합계
print(np.sum(a, axis=0))
print(a.sum(axis=0))
print("-------------------------------")
#행 합계
print(np.sum(a, axis=1))
print(a.sum(axis=1))
print("-------------------------------")
print("===============================")

#행 열 최대 값(최소값도 동일함)
#에러 발생함.. 주의할것
#print(max(a))
print(a.max())
print("-------------------------------")
print(a.max(axis=0))
print(np.max(a, axis=0))
print("-------------------------------")
print(a.max(axis=1))
print(np.max(a, axis=1))
print("-------------------------------")
print("===============================")

[[0 1 2 3 4]
 [5 6 7 8 9]]
===============================
[[ 100 1000    2    3    4]
 [   5    6    7    8    9]]
===============================
114.4
===============================
6.5
===============================
296.5485457728633
===============================
87941.04
===============================
1144
===============================
1144
[ 105 1006    9   11   13]
-------------------------------
[ 105 1006    9   11   13]
[ 105 1006    9   11   13]
-------------------------------
[1109   35]
[1109   35]
-------------------------------
===============================
1000
-------------------------------
[ 100 1000    7    8    9]
[ 100 1000    7    8    9]
-------------------------------
[1000    9]
[1000    9]
-------------------------------
===============================

In [105]:
import pandas as pd
import numpy as np

data = np.arange(0,50,10)
print(data)

print("===============================")
# 명시적 인덱스
a = pd.Series(data,index=['a','b','c','d','e'])
print(a)
print("===============================")
# 암묵적 인덱스
b = pd.Series(data)
print(b)
print("===============================")
print(a['a'])
# loc = location
print(a.loc['b'])
print("-------------------------------")
# iloc = index location
print(a.iloc[1])
print("-------------------------------")
print("===============================")
# 명시적 인덱스를 선언하지 않았다면 사용 불가능.
#print(b.loc(1))

[ 0 10 20 30 40]
===============================
a     0
b    10
c    20
d    30
e    40
dtype: int64
===============================
0     0
1    10
2    20
3    30
4    40
dtype: int64
===============================
0
10
-------------------------------
10
-------------------------------
===============================

In [128]:
data = np.arange(0,50,10)
print(data)
it = ['a','b','c','d','e']
# a = pd.Series(data,index=['a','b','c','d','e'])
a = pd.Series(data,index=it)
print(a)
print("===============================")
#덧셈
print(a + 10)
print("-------------------------------")
print(a.add(10))
print("===============================")
#뺄셈
print(a - 10)
print("-------------------------------")
print(a.sub(10))
print("===============================")
#나눗셈
print(a / 10)
print("-------------------------------")
print(a.div(10))
print("-------------------------------")
print(a // 10)
print("-------------------------------")
print("===============================")

#곱셈
print(a * 10)
print("-------------------------------")
print(a.mul(10))
print("===============================")
#제곱
print(a ** 10)
print("-------------------------------")
print(a.pow(10))
print("===============================")
#나머지
print( a % 2 )
print("-------------------------------")
print(a.mod(10))
print("===============================")
#조건식
print( a > 15 )
print("-------------------------------")
print( a % 2 == 0)
print("===============================")

#최소값
print(a.min())

#최대값
print(a.max())

#합계
print(a.sum())

#평균
print(a.mean())

#중앙값
print(a.median())

#표준편차
print(a.std())

#분산
print(a.var())

[ 0 10 20 30 40]
a     0
b    10
c    20
d    30
e    40
dtype: int64
===============================
a    10
b    20
c    30
d    40
e    50
dtype: int64
-------------------------------
a    10
b    20
c    30
d    40
e    50
dtype: int64
===============================
a   -10
b     0
c    10
d    20
e    30
dtype: int64
-------------------------------
a   -10
b     0
c    10
d    20
e    30
dtype: int64
===============================
a    0.0
b    1.0
c    2.0
d    3.0
e    4.0
dtype: float64
-------------------------------
a    0.0
b    1.0
c    2.0
d    3.0
e    4.0
dtype: float64
-------------------------------
a    0
b    1
c    2
d    3
e    4
dtype: int64
-------------------------------
===============================
a      0
b    100
c    200
d    300
e    400
dtype: int64
-------------------------------
a      0
b    100
c    200
d    300
e    400
dtype: int64
===============================
a                    0
b          10000000000
c       10240000000000
d      590490000000000
e    10485760000000000
dtype: int64
-------------------------------
a                    0
b          10000000000
c       10240000000000
d      590490000000000
e    10485760000000000
dtype: int64
===============================
a    0
b    0
c    0
d    0
e    0
dtype: int64
-------------------------------
a    0
b    0
c    0
d    0
e    0
dtype: int64
===============================
a    False
b    False
c     True
d     True
e     True
dtype: bool
-------------------------------
a    True
b    True
c    True
d    True
e    True
dtype: bool
===============================
0
40
100
20.0
20.0
15.811388300841896
250.0

In [120]:
#Boolean Index
data = np.arange(4,99999,1)
print(data)
print("===============================")
a = pd.Series(data)
print(a)
print("===============================")
print(a[ a < 10 ])
print("-------------------------------")
print(a[ (a % 2 == 0) & (a % 3 == 0) ])

[    4     5     6 ... 99996 99997 99998]
===============================
0            4
1            5
2            6
3            7
4            8
         ...
99990    99994
99991    99995
99992    99996
99993    99997
99994    99998
Length: 99995, dtype: int64
===============================
0    4
1    5
2    6
3    7
4    8
5    9
dtype: int64
-------------------------------
2            6
8           12
14          18
20          24
26          30
         ...
99968    99972
99974    99978
99980    99984
99986    99990
99992    99996
Length: 16666, dtype: int64

In [145]:
rawData = np.random.randint(50,100, size=(4,3))

print(rawData)

ban = [ '1반', '2반' ] * 2
domain = ['국','영','수']

df = pd.DataFrame(rawData,index=ban,columns=domain)

print(df)
print("===============================")

print(df['국'])

print("===============================")

# 에러 발생
#print(df[0])

df['평균'] = round( (df['국'] + df['영'] + df['수']) / 3, 2)
print(df)

print("===============================")

print(df[df.평균 > 75])
print("===============================")

df = df.drop(['평균','수'], axis='columns')
print(df)

print("===============================")

[[50 73 96]
 [84 80 95]
 [71 70 81]
 [99 76 53]]
     국   영   수
1반  50  73  96
2반  84  80  95
1반  71  70  81
2반  99  76  53
===============================
1반    50
2반    84
1반    71
2반    99
Name: 국, dtype: int64
===============================
     국   영   수     평균
1반  50  73  96  73.00
2반  84  80  95  86.33
1반  71  70  81  74.00
2반  99  76  53  76.00
===============================
     국   영   수     평균
2반  84  80  95  86.33
2반  99  76  53  76.00
===============================
     국   영
1반  50  73
2반  84  80
1반  71  70
2반  99  76
===============================